
# ── Core Data Science ─
pandas==3.0.2
numpy==2.4.4
scipy==1.17.1

# ── Visualisation ─
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.7.0
powerbi-client

# ── Database / ─
sqlalchemy==2.0.50

# ── HTTP / API ─
requests==2.33.1

# ── Notebooks ─
jupyter>=1.0.0
notebook>=7.0.0
ipykernel>=6.0.0

# ── Utilities ─
openpyxl>=3.1.0      
